:root {
    --builder-bg-green: #02312f;
    --builder-color-green: #00b6ad;
    --builder-popup-box-shadow: inset 0 0 0 1px var(--builder-color-accent);
}

/* Builder WP Media Popup */
#emojiSwitcherOptions {
    display: none !important;
}

.media-modal.wp-core-ui .media-modal-close {
    border: 1px dotted;
}

.media-modal.wp-core-ui .media-modal-close .media-modal-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Builder Panel
   SVG on Element Setting.
*/
#bricks-panel .svg-wrapper img {
    max-width: 60px;
}

/* Builder Panel
   Classes (not selected).
*/
#bricks-panel-element-classes ul.active-classes li.active {
    /*background-color: var(--builder-color-accent);*/
    /*color: var(--builder-bg-accent);*/
    background-color: var(--builder-bg-2);
    color: var(--builder-color-class);
}


