:root {
    --builder-color-accent: #FF7872;
    --builder-bg-accent: #422222;
    --builder-color-accent-2: #e66767;
    --builder-bg-accent-2: #290606;
}

/* Builder Logo
 */

#bricks-toolbar .group-wrapper.start .logo a img[src$="bricks-favicon-b.svg"] {
    display: none !important;
}

#bricks-toolbar .group-wrapper.start .logo a {
    display: inline-block;
    width: 28px;
    height: 28px;
}

/*#bricks-toolbar .logo {*/
/*    !*background-color: var(--builder-color-accent);*!*/
/*    background-color: red;*/
/*}*/

/*#bricks-toolbar .group-wrapper.start .logo a {*/
/*    position: relative;*/
/*    color: yellow;*/
/*}*/

/*#bricks-toolbar .group-wrapper.start .logo a::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    margin: auto;*/
/*    width: 18px;*/
/*    height: 18px;*/
/*    background-color: currentColor;*/
/*    -webkit-mask: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 17.27L18.18 21 16.54 13.97 22 9.24 14.81 8.63 12 2 9.19 8.63 2 9.24 7.46 13.97 5.82 21z'/%3E%3C/svg%3E") center/contain no-repeat;*/
/*    mask: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 17.27L18.18 21 16.54 13.97 22 9.24 14.81 8.63 12 2 9.19 8.63 2 9.24 7.46 13.97 5.82 21z'/%3E%3C/svg%3E") center/contain no-repeat;*/
/*}*/

#bricks-toolbar .group-wrapper.start .logo {
    border-radius: 8px;
    overflow: hidden;
}

#bricks-toolbar .group-wrapper.start .logo a {
    background: url(vietnam-flag.jpg) no-repeat center / cover;
    width: 100%;
    height: 100%;
}